.container {
  margin: 2rem 0 3rem;
  display: flex;
  justify-content: center;
}

.form-value{
    position: absolute;
    left: 1rem;
    font-size: 1.5rem;
}

#input-form {
    position: absolute;
    z-index: 1;
    & input {
        font-size: 1.1rem;
        // text-transform: uppercase;
        position: absolute;
        background: transparent;
        border: none;
        // border: 1px solid red;
    }
    & textarea {
        font-size: 1.1rem;
        // text-transform: uppercase;
        position: absolute;
        background: transparent;
        border: none;
        // border: 1px solid red;
    }
    & .mat-form-field{
      font-size: 1.1rem;
      // text-transform: uppercase;
      position: absolute;
      background: transparent;
      border: none;
      // margin-top: -5px;
      // border: 1px solid red;
    }

    & select {
      font-size: 0.9em;
      // text-transform: uppercase;
      position: absolute;
      background: transparent;
      border: none;
      font-family: 'Courier New', Courier, monospace;
      // margin-top: -5px;
      // border: 1px solid red;
    }
}

input[type=radio]{
  margin-left: 0px !important;
  margin-top: 1px !important;
}

.form-actions{
  position: fixed;
  right: 0px;
  margin: 10px 15px;
  z-index: 150;
}

.form-actions .md-24{
  font-size: 28px;
}

.loading-top{
  position: absolute;
}

.page{
  position: relative;
}


.paginator{
position: fixed;
width: 100%;
bottom: 0px;
 text-align: center;
 background: #000;
 color: #fff;
 opacity: 0.6 !important;
 z-index: 999;
}

